<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Auction - CorDapp</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/js/ng-loading-overlay.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>

<body ng-app="auctionAppModule" ng-controller="AuctionAppController as demoApp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="site-header">Bond Issuance - CorDapp</div>
        </div>
    </nav>

    <!-- Auction Listing Start -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
                </div>
                <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn pull-right">Create Auction</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- Auction Listing Ends -->


    <!-- Auction Listing Start -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-group" id="accordion">
                <div class="panel">
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Auctions:</h4>
                        </div>
                    </div>
                    <div>
                        <div ng-show="!demoApp.auctions.length" class="panel-body">Use the "Create Auction" button to create an auction.</div>
                        <div ng-repeat="auction in demoApp.auctions" class="panel panel-default">
                            <div class="bs-callout bs-callout-danger pull-right">
                                <h4 ng-class="(auction.auctionActive==true) ? 'auction-live' : 'auction-closed'">
                                    <span ng-if="auction.auctionActive==true">
                                        Auction Live
                                    </span>
                                    <span ng-if="auction.auctionActive==false">
                                        Auction Closed
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body panel-border">
                                <div class="auctionId">
                                    <h4>Auction ID - {{auction.linearId.id}}</h4>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Bond Name</th>
                                                    <td>{{auction.itemName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Bond Description</th>
                                                    <td>{{auction.itemDescription}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Issue Expiry Date</th>
                                                    <td>{{auction.expiryDate}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Issue size</th>
                                                    <td>{{auction.capitalToBeRaised}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Status</th>
                                                    <td>{{auction.State}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Allocation expectations</th>
                                                    <td>{{auction.allocation}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-5">
                                            <button ng-if="(auction.auctionActive==true)" ng-click="demoApp.openBidModal(auction.linearId.id)" type="button" class="btn btn-primary">Bid</button>
                                            <button ng-click="demoApp.openTransactionDetailsModal(auction.linearId.id)" type="button" class="btn btn-primary">Transaction Details</button>
                                            <button ng-if="(auction.itemOwner==demoApp.thisNode)" ng-click="demoApp.closeAuction(auction.linearId.id)" type="button" class="btn btn-primary">Close Auction</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- Auction Listing Ends -->

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel-group" id="accordion1">
                <div class="panel">
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Bids:</h4>
                        </div>
                    </div>
                    <div>
                        <div ng-show="!demoApp.bids.length" class="panel-body">Use the "Create Bid" button to create a bid.</div>
                        <div ng-repeat="bid in demoApp.bids" class="panel panel-default">

                            <div class="panel-body panel-border">
                                <div class="bidId">
                                    <h4>Bid ID - {{bid.linearId.id}}</h4>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Bidder</th>
                                                    <td>{{bid.bidder}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Amount</th>
                                                    <td>{{bid.amount}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Size</th>
                                                    <td>{{bid.size}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Status</th>
                                                    <td>{{bid.state}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Allotted Price</th>
                                                    <td>{{bid.allotedPrice}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- Auction Listing Ends -->

    <!-- Create Auction Content Start -->
    <script type="text/ng-template" id="createAuctionModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Create Auction</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="auctionType" class="control-label">Auction Type:</label><br>
                    <input ng-model="modalInstance.form.auctionType" type="radio" name="gender" value="Open"> Open to All
                    <input ng-model="modalInstance.form.auctionType" type="radio" name="gender" value="Private"> Private
                </div>
                <div class="form-group">
                    <label for="auctionParticipants" class="control-label">Auction Participants (Only if auction is Private):</label>
                    <select multiple ng-model="modalInstance.form.auctionParticipants" class="form-control" id="auctionParticipants" ng-options="peer as peer for peer in modalInstance.peers">
                    </select>
                </div>
                <div class="form-group">
                    <label for="itemName" class="control-label">Bond name:</label>
                    <input type="text" ng-model="modalInstance.form.itemName" class="form-control" id="itemName">
                </div>
                <div class="form-group">
                    <label for="itemDescription" class="control-label">Bond Description:</label>
                    <input type="text" ng-model="modalInstance.form.itemDescription" class="form-control" id="itemDescription">
                </div>
                <div class="form-group">
                    <label for="capitalToBeRaised" class="control-label">Target capital:</label>
                    <input type="text" ng-model="modalInstance.form.capitalToBeRaised" class="form-control" id="capitalToBeRaised">
                </div>
                <div class="form-group">
                    <label for="allocation" class="control-label">Client Allocation</label>
                    <input type="text" ng-model="modalInstance.form.allocation" class="form-control" id="allocation">
                </div>
                <div class="form-group">
                    <label for="expiryDate" class="control-label">Issue Expiry (In Zulu format):</label>
                    <input type="text" ng-model="modalInstance.form.expiryDate" class="form-control" id="expiryDate" placeholder="2018-12-31T00:00:00Z">
                </div>
                <div ng-show="modalInstance.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> Enter valid Auction parameters
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create Auction</button>
            </div>
        </form>
    </script>
    <!-- Create Auction Content End -->


    <!-- Bid Content Start -->
    <script type="text/ng-template" id="BidModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Bid Model</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="amount" class="control-label">Amount (Double):</label>
                    <input type="text" ng-model="modalInstance.form.amount" class="form-control" id="amount">
                </div>
                <div class="form-group">
                    <label for="size" class="control-label">Size (Int):</label>
                    <input type="text" ng-model="modalInstance.form.size" class="form-control" id="size">
                </div>
                <div ng-show="modalInstance.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> Enter valid Bid parameters
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">make Bid</button>
            </div>
        </form>
    </script>
    <!-- Bid Content End -->

    <!-- Bid Content Start -->
    <script type="text/ng-template" id="closeAuctionModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
        </div>
        <form>
            <div class="modal-footer">
                <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">No</button>
                <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Yes</button>
            </div>
        </form>
    </script>
    <!-- Bid Content End -->

    <!-- Transaction Details Content Start -->
    <script type="text/ng-template" id="TransactionDetailsModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Transaction Details</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="transactionDetail">
                    <pre>{{modalInstance.transactionDetails  | json }}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            </div>
        </form>
    </script>
    <!-- Transaction Details Content Start -->

    <!-- Message Content Start -->
    <script type="text/ng-template" id="messageContent.html">
        <div class="modal-body" id="modal-body">
            {{ modalInstanceTwo.message }}
        </div>
    </script>
    <!-- Message Content End -->



</body>

</html>